body{
    overflow-x: hidden;
}

.footer{
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    background-color: black;
    font-family: "Poppins-Medium", Helvetica;
    /* border-radius: 20px; */
    padding: 10px;
    /* margin: 0 80px 0 10px; */
}
.footer h3{
    text-transform: uppercase;
}
.footer .Logo-container img{
    height: 150px;
    width: 370px;
}
.footer .section-0{
    padding: 0px 0px 0px 50px
}
.footer .section-2{
    padding: 0px 50px 0px 0px
}
.footer .section-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}
.footer .Pages-container, .Service-container, .Contact-container, .Socialmedia-container{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.Contact-container .contact-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
}
.Socialmedia-container .social-icons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}