/* Improved CSS */

.home {
  display: flex;
  width: 100%;
  height: 100%;
  /* background-color: rgb(247, 168, 9); */
  /* background-image: "home_middle.jpg"; */
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  gap:20px
}

.awesome{
  font-family: Rama Gothic;
  /* font-family: Cheap Pine; */
}

.events-container{
  background-color: #CD8D7A;
}

.spot-container{
  background-color: #89B9AD;
}

.events-container .container p, .spot-container .container p{
  color: white;
  font-size: large;
}

.home button {
  font-family: "Poppins-Medium", Helvetica;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.video-container{
  border-radius: 10px;
}

.header-text {
  position: absolute;
  top: 0;
  height: 3rem; /* Corrected unit */
  width: 100%;
  border-bottom: 3px solid white; /* Added border style */
}



.body .events-container,
.body .spot-container,
.popular-event-container,
.popular-hotspot-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
}

.body .events-container p,
.body .spot-container p,
.popular-event-container p,
.popular-hotspot-container p {
  padding: 50px;
  padding-right: 100px;
}

.header-content {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  margin-top: 25%;
  font-size: 4rem;
  color: white;
  font-family: fantasy;
}

@keyframes change-color {
  25% {
    color: #970989;
  }
  50% {
    color: #f3ff08;
  }
  75% {
    color: #ab0808;
  }
}

.header-content p {
  animation-name: change-color;
  animation-duration: 6s;
  animation-iteration-count: infinite;

  /* font-family: Arial; */
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
}

/* .header-content .awesome {
      
    font-family: futura;
    font-style: italic;
    
    width:100%;
    
    margin: 0 auto;
    text-align: center;
    
    color:#313131;
    font-size:45px;
    font-weight: bold;
    position: absolute;
    -webkit-animation:colorchange 20s infinite alternate;
    
    
  }

  @-webkit-keyframes colorchange {
    0% {
      
      color: blue;
    }
    
    10% {
      
      color: #8e44ad;
    }
    
    20% {
      
      color: #1abc9c;
    }
    
    30% {
      
      color: #d35400;
    }
    
    40% {
      
      color: blue;
    }
    
    50% {
      
      color: #34495e;
    }
    
    60% {
      
      color: blue;
    }
    
    70% {
      
      color: #2980b9;
    }
    80% {
   
      color: #f1c40f;
    }
    
    90% {
   
      color: #2980b9;
    }
    
    100% {
      
      color: pink;
    }
  } */

.container-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: aliceblue;
  justify-content: center;
  width: 100%;
  height: 100%;
  letter-spacing: 2px;
  font-family: "Poppins-Medium", Helvetica;
  transition: opacity 0.25s;
  z-index: 2;
}
.events-container .container{
  display: flex;
  flex-direction: column;
}
.container h3 {
  text-transform: uppercase;
  color: rgb(3, 57, 128);
  font-size: 2.5rem;
  margin-left: 50px;
  /* letter-spacing: 2px; */
  /* --------------------------- */
    letter-spacing: -2px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; 
    cursor: pointer
}

.container h3:hover {
  color: #37e4ed; /* Change to your desired color */
  /* transition: color 0.3s ease-in-out; */
  letter-spacing: 2px;
}


.nav-container {
  display: flex;
  justify-content: center;
}

.slider-container button{
  margin-top: 10px;
}

/* ------------------------------------------------------- */

/* .title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

/* Here are just some visual styles. 🖌 */

/* .container {
  display: grid;
  place-items: center;  
  text-align: center;
  height: 100vh
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 8.5vw;
  text-transform: uppercase;
} */ 
